<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
		<link href="./assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body class="w-100">

    <!-- {% if pupil.group.grade.name in "03,04,05,06" %} -->

      <div class="super-container flex flex-column space-between">
        <div class="">
          <div class="container mb-50">
            <div class="flex w-100 header-container">
              <h1 class="w-100 bold"> <!-- {{ document.document_title }} --> test</h1>
              <!-- <img src="./assets/images/drawing.svg" class="logo"> -->
              <div class="berlin-logo logo"></div>
            </div>
            <div class="name-group w-100">
              <div class="flex justify-center w-100">
                <div class="underline w-57 text-center">name <!-- {{ pupil.first_name }} --> <!-- {{ pupil.last_name }} --> </div>
              </div>
              <div class="flex justify-center w-100">
                <div class="text-sm text-center w-60">Vorname/n &nbsp; Name</div>
              </div>
            </div>
            <div class="w-100 flex space-between date-group">
              <div class="flex geboren">
                <span>
                  geboren am 
                </span>
                  <div class="underline w-100 h-100"> <!-- {{ pupil.birthday|date:"d.m.Y" }} --> </div>
              </div>
              <div class="flex min-content klasse ">
                <span>
                  Klasse 
                </span>
                <div class="underline h-100 w-70"> <!-- {{ pupil.group.name_short }} --> </div>
              </div>
              <div class="flex im min-content">
                <div class="w-5 underline h-100"> 1. <!-- {% if document.document_type.key == 'notenzeugnis-halbjahr-2023' %}1.{% else %}1. und. 2.{% endif %} --> </div>

                <span>
                  Halbjahr im Schuljahr
                </span>
                <div class="underline w-13 nowrap"><!-- {{ document.document_year }} --> 2023 / 2024</div>
              </div>
            </div>
          </div>


          <div class="container border-box ">
              <div class="underline w-100 mb-10"></div>

              <div class="bold">Leistungen <sup class="text-xs bold">1)</sup></div>
              <div class="max-w-100 flex space-between mb-20">

                <div class="w-50 border-box">
                    <div class="flex entry">
                      <div class="flex max-w-100 border-box">
                        <div class="left p-0">Deustch </div>
                        <div class="dots"></div>
                      </div>
                      <div class="gray-block">1 <!-- {% for report in reports.export_sections.noten %}{% if "Deutsch" in report.course.name %}{% for textblock in report.textblocks.all %}{{ textblock.text }}{% endfor %}{% endif %}{% endfor %}  --></div>

                    </div>

                  <div class="w-100 child-container">
                    <div class="flex entry-child ">
                      <div class="flex max-w-100 border-box">
                        <div class="left">Sprechen und Zuhören </div>
                        <div class="dots"></div>
                      </div>
                      <div class="gray-block">--</div>
                    </div>
                    <div class="flex entry-child ">
                      <div class="flex max-w-100 border-box">
                        <div class="left">Schreiben ‒ Texte verfassen </div>
                        <div class="dots"></div>
                      </div>
                      <div class="gray-block">--</div>
                    </div>
                    <div class="flex entry-child ">
                      <div class="flex max-w-100 border-box">
                        <div class="left">Schreiben ‒ Rechtschreiben </div>
                        <div class="dots"></div>
                      </div>
                      <div class="gray-block">2</div>
                    </div>
                    <div class="flex entry-child ">
                      <div class="flex max-w-100 border-box">
                        <div class="left">Sprachwissen ‒ Sprachbewusstheit </div>
                        <div class="dots"></div>
                      </div>
                      <div class="gray-block">--</div>
                    </div>
                    <div class="flex entry-child ">
                      <div class="flex max-w-100 border-box">
                        <div class="left">Lesen ‒ Mit Texten und Medien umgehen </div>
                        <div class="dots"></div>
                      </div>
                      <div class="gray-block"></div>
                    </div>
                  </div>

                  <div class="flex entry">
                    <div class="flex max-w-100 border-box">
                      <div class="left p-0">Fremdsprache: Englisch </div>
                      <div class="lines"></div>
                    </div>
                    <div class="gray-block lines_gray-block"> <!-- {% for report in reports.export_sections.noten %}{% if "Englisch" in report.course.name %}{% for textblock in report.textblocks.all %}{{ textblock.text }}{% endfor %}{% endif %}{% endfor %} --> </div>

                  </div>

                </div>
                <div class="w-47 ">
                  <div class="flex entry ">
                    <div class="flex max-w-100 border-box">
                      <div class="left p-0">Mathematik </div>
                      <div class="dots"></div>
                    </div>
                    <div class="gray-block"> <!-- {% for report in reports.export_sections.noten %}{% if "Mathematik" in report.course.name %}{% for textblock in report.textblocks.all %}{{ textblock.text }}{% endfor %}{% endif %}{% endfor %}  --></div>
                  </div>
                  <div class="flex entry">
                    <div class="flex max-w-100 border-box">
                      <div class="left p-0">Sachunterricht </div>
                      <div class="dots"></div>
                    </div>
                    <div class="gray-block"> <!-- {% for report in reports.export_sections.noten %}{% if "Sachunterricht" in report.course.name %}{% for textblock in report.textblocks.all %}{{ textblock.text }}{% endfor %}{% endif %}{% endfor %} --> </div>
                  </div>
                  <div class="flex entry">
                    <div class="flex max-w-100 border-box">
                      <div class="left p-0">Kunst </div>
                      <div class="dots"></div>
                    </div>
                    <div class="gray-block"> <!-- {% for report in reports.export_sections.noten %}{% if "Kunst" in report.course.name %}{% for textblock in report.textblocks.all %}{{ textblock.text }}{% endfor %}{% endif %}{% endfor %} --> </div>
                  </div>
                  <div class="flex entry">
                    <div class="flex max-w-100 border-box">
                      <div class="left p-0">Musik </div>
                      <div class="dots"></div>
                    </div>
                    <div class="gray-block"> <!-- {% for report in reports.export_sections.noten %}{% if "Musik" in report.course.name %}{% for textblock in report.textblocks.all %}{{ textblock.text }}{% endfor %}{% endif %}{% endfor %} --> </div>
                  </div>
                  <div class="flex entry">
                    <div class="flex max-w-100 border-box">
                      <div class="left p-0">Sport </div>
                      <div class="dots"></div>
                    </div>
                    <div class="gray-block"> <!-- {% for report in reports.export_sections.noten %}{% if "Sport" in report.course.name %}{% for textblock in report.textblocks.all %}{{ textblock.text }}{% endfor %}{% endif %}{% endfor %} --> </div>
                  </div>
                  <div class="flex entry">
                    <div class="flex max-w-100 border-box">
                      <div class="left p-0"></div>
                      <div class="lines"></div>
                    </div>
                    <div class="gray-block lines_gray-block">--</div>
                  </div>
                  <div class="flex entry">
                    <div class="flex max-w-100 border-box">
                      <div class="left p-0"></div>
                      <div class="lines"></div>
                    </div>
                    <div class="gray-block lines_gray-block">--</div>
                  </div>
                </div>
              </div>

              <div class="underline w-100 mb-10"></div>
          </div>

          <div class="container min-w-100">
            <div class="bold min-w-100 mb-10">Bemerkungen  </div>
            <div class="flex space-between mb-10">
              <div class="w-57">
                1. Das Arbeits- und Sozialverhalten wird beurteilt:
              </div>
              <div class="flex w-40">
                <div class="flex center justify-center w-80">
                  <div class="gray-checkbox"></div>
                  <span>
                    ja, Anlage liegt bei
                  </span>
                </div>
                <div class="flex center justify-center w-20">
                  <div class="gray-checkbox "></div>
                  <span>
                      nein
                  </span>
                </div>
              </div>
            </div>

            <div class="flex space-between">
              <div class="w-57">
                2. Das Beiblatt „Schul Z 620“ ist Bestandteil des Zeugnisses:
              </div>
              <div class="flex w-40">
                <div class="flex center justify-center w-80">
                  <div class="gray-checkbox"></div>
                  <span>
                    ja, Anlage liegt bei
                  </span>
                </div>
                <div class="flex center justify-center w-20">
                  <div class="gray-checkbox "></div>
                  <span>
                      nein
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="flex space-between boxes-container mb-50">
            <div class="w-37 border box-container flex justify-evenly">
              <div class="w-49">
                <div class="w-100 flex justify-center">
                  <div class="text-sm w-100 text-center">
                    versäumte Tage
                  </div>
                </div>
                <div class="w-100 flex justify-center">
                  <div class="gray-block text-sm">0<!-- {% for report in reports.export_sections.additional %}{% if report.course.course_category.name == 'Fehlzeiten' %}{{ report.absence_days}}{% endif %}{% endfor %} --></div>
                </div>
              </div>
              <div class="w-49">
                <div class="w-100 flex justify-center">
                  <div class="text-sm">
                    davon unentschuldigt
                  </div>
                </div>
                <div class="w-100 flex justify-center">
                  <div class="gray-block text-sm">0<!-- {% for report in reports.export_sections.additional %}{% if report.course.course_category.name == 'Fehlzeiten' %}{{report.absence_days_unexcused}}{% endif %}{% endfor %} --></div>
                </div>
              </div>
            </div>
            <div class="w-37 border box-container flex justify-evenly">
              <div class="center w-50">
                <div class="w-100 flex justify-center">
                  <div class="text-sm"> versäumte Einzelstsunden </div>
                </div>
                <div class="w-100 flex justify-center">
                  <div class="gray-block text-sm">0<!-- {% for report in reports.export_sections.additional %}{% if report.course.course_category.name == 'Fehlzeiten' %}{{report.absence_hours}}{% endif %}{% endfor %} --></div>
                </div>
              </div>
              <div class="w-50">
                <div class="w-100 flex justify-center">
                  <div class="text-sm">
                    davon unentschuldigt
                  </div>
                </div>
                <div class="w-100 flex justify-center">
                  <div class="gray-block text-sm">0<!-- {% for report in reports.export_sections.additional %}{% if report.course.course_category.name == 'Fehlzeiten' %}{{report.absence_hours_unexcused}}{% endif %}{% endfor %} --></div>
                </div>
              </div>
            </div>
            <div class="w-18 border box-container">
              <div class="flex flex-column center w-full">
                <div class="text-sm">
                  Verspätungen
                </div>
                <div class="w-100 flex justify-center">
                  <div class="gray-block text-sm">0<!-- {% for report in reports.export_sections.additional %}{% if report.course.course_category.name == 'Fehlzeiten' %}{{report.absence_hours_delayed}}{% endif %}{% endfor %} --></div>
                </div>
              </div>
            </div>
          </div>
          <div class="container w-30 flex-column center">

            <div class="w-full flex">
              <div class="underline w-100"></div>
            </div>
            <div class="w-full flex justify-center mb-40">
              <div class="text-center text-sm w-100">Vorname/n oder Personalpronomen</div>
            </div>
          </div>
          <div class="flex space-between w-full mb-25 berlin">
            <div class="w-40">
              <div class="flex w-full">
                <span>
                  Berlin, den
                </span>
                <div class="underline w-60"> <!-- {{ document.document_handout_date }}  --></div>
              </div>
            </div>
            <div class="flex-column flex w-15">
              <span>

              </span>
              <div class="text-center text-sm w-100 blau">
                Dienststempel blau
              </div>
            </div>
            <div class="w-35">

              <div class="w-100 flex justify-center">
                <div class="w-100">
                  <span></span>
                  <div class="underline w-100"></div>
                </div>
              </div>
              <div class="w-100 flex justify-center">
                <span class="text-sm">
                  Klassenlehrkraft
                </span>
              </div>
            </div>
          </div>
          <div class="flex space-between container mb-30">
            <div class="w-35">
              <div class="underline w-full"></div>
              <div class="flex justify-center">
                <span class="text-sm">
                  Schulleiterin/Schulleiter
                </span>
              </div>
            </div>
            <div class="w-35">
              <div class="underline w-full"></div>
              <div class="flex justify-center">
                <span class="text-sm">
                  Erziehungsberechtigte / Erziehungsberechtigter
                </span>
              </div>
            </div>
          </div>
            <div class="text-sm">
              <div>
                1) Beurteilung der Leistungen: 1 = sehr gut | 2 = gut | 3 = befriedigend | 4 = ausreichend | 5 = mangelhaft | 6 = ungenügend <br />
                bf. = befreit, n. e. = nicht erteilt, o. B. = ohne Bewertung
              </div>
              <span class="p-0">
                <!-- {% if pupil.group.grade.name in "03,04" %} -->
                <!-- <span class="bold p-0"> -->
                <!--   Schul Z 104 -->
                <!-- </span> -->
                <!--  – Zeugnis der Jahrgangsstufen 3 und 4 – (04.23) -->
                <!--  {% elif pupil.group.grade.name in "05,06" %} -->
                 <span class="bold p-0">
                  Schul Z 106
                </span>
                 – Zeugnis der Jahrgangsstufen 5 und 6 – (04.23)
                 <!-- {% endif %} -->
              </span>
            </div>
        </div>
      </div>
	
</body>
</html>
